{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        Welcome to Bigpanda Indias largest Online Retail Store

{% endblock %}
{% block title %}

   Search!!
{% endblock %}
{% block content %}

<div>

        <p class="text-center mysearch">Showing results for:<b>"{{query}}"</b></p>

</div>
<div class="container">
    {% if products %}
        <div class="row mx_auto">
            {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4"><br>
                <div class="card text-center" style="width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" height="300" width="200"></a>
                    <div class="card-body">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.price }}</p>
                    </div>

                </div>
            </div>
              {% endfor %}
        </div>
    {% else %}
            <div class="row mx=auto">
                <p class="text-center mysearch"> No results found</p>

            </div>
    {% endif %}





{% endblock %}